<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div>
		<h3>Clients</h3>
		<table border="1">
			<tr>
				<th>HostName</th>
				<th>Ip</th>
				<th>City</th>
				<th>Region</th>
				<th>Country</th>
				<th>Loc</th>
				<th>Zip</th>
				<th>Org</th>
				<th>Timestamp</th>
			</tr>
			<th:block th:each="visitor : ${visitors}">
				<tr>
					<td th:text="${visitor.hostName}"></td>
					<td th:text="${visitor.ip}"></td>
					<td th:text="${visitor.city}"></td>
					<td th:text="${visitor.region}"></td>
					<td th:text="${visitor.country}"></td>
					<td th:text="${visitor.loc}"></td>
					<td th:text="${visitor.postal}"></td>
					<td th:text="${visitor.org}"></td>
				</tr>
			</th:block>
		</table>
	</div>
</body>
</html>